body {
    background-image: url("background.jpg");
	background-size: 100%
    background-repeat: no-repeat;
	overflow: hidden;
}
 
#main_frame {
    width: 300px;
    height: 200px;
    padding: 10px;
 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -165px;
 
    background-color: #EFEBE9;
 
    border-radius: 10px;
    text-align: center;
}

#map_frame {
    padding: 10px;
    width: 900px;
    height: 600px;
	margin-left: 485px;
    margin-top: 580px;
}

#mapid { 
	padding: 50px;
	height: 180px; 
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
}

.header {
	text-align: center;
	color: black;
	font-size: 12px;
	font-family: Calibri;
}	

.label_input {
    font-size: 14px;
    font-family: Calibri;
 
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: black;
    background-color: #FFAB91;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 160px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
.search {
    font-size: 14px;
    font-family: Calibri;
 
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: black;
    background-color: #FFAB91;
    border-radius: 6px;
    border: 0;
 
    float: center;
}

.search:hover {
    background-color: #FF7043;
}

#btn_only {
    font-size: 14px;
    font-family: Calibri;
 
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: black;
    background-color: #FFAB91;
    border-radius: 6px;
    border: 0;
 
    float: center;
}

#btn_only:hover {
    background-color: #FF7043;
}
 
#login_control {
    padding: 0 28px;
}
